@font-face {
  font-family: 'PokeFont';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/PocketMonk.otf');
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'PokeGB';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/PokemonGB.ttf');
  /* IE9 Compat Modes */
}

body {
  background-color: #ccc;
  background-image: url(../assets/img/background-pokemon.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.search {
  font-family: 'PokeGB';
  font-size: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.help-block {
  margin-top: 5px;
  color: firebrick;
}

.page {
  position: relative;
  text-align: center;
}

.page_team input
{
  position: absolute;
  left: 150px;
  transform: translateX(-50%);
  top : 20px;
}

.page__search {
  padding-top: 10px;
}

.page__error {
  position: absolute;
  padding: 5px;
  color: #fff;
  background-color: #f44336;
}

.pokemons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pokemons_team {
  margin-top: 60px;
  padding: 0;
  list-style: none;
  display: block;
  height: 80vh;
  overflow-y: scroll;
  width:320px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  margin-top: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.pokemons__item {
  display: inline-flex;
  margin: 10px;
}


.pokemon {
  position: relative;
  z-index: 20000;
  overflow: hidden;
  background-color: #eee;
  cursor: pointer;
}

.pokemons__item .pokemon__sprite {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  border: none;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.pokemons__item_team .pokemon__sprite {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  border: none;
  background-color: transparent;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.pokemon,
.pokemon__sprite {
  width: 140px;
  height: 140px;
}

.pokemons__item .pokemon__name {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-size: 14px;
  pointer-events: none;
}

.pokemons__item_team
{
  display: block;
  margin : 10px;
}

.pokemons__item_team .pokemon__name
{
  text-align: left;
  margin-left: 60px;
  line-height: 40px;
}



@media (min-width: 992px) {
  .pokemons__item_team .pokemon
  {
    width: 300px;
    height: 40px;
  }
  
  .pokemons__item_team .pokemon__sprite {
    width: 300px;
    height: 40px;
  }
}

.teamTable
{
  width : 40vw !important;
  position: absolute;
  right: 0;
  top: 30px;
}