
  
  .pokemons:hover
  {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .pokemons .content {
    align-items: center;
  }

 p {
    margin: 0;
  }
  


    
  .teamTable
  {
    background-color: white;
  }

.sidebar {
  background-color: white;
}